#root{
  background-color: hsl(0, 0%, 94%);
  height: 100vh;
  padding-top: 5rem;
  padding: 5rem 16px 0 16px;
  @media (min-width:800px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}